@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  overflow-x: hidden;
  top: 0px !important;
}

html.dark body {
  background-color: #0b0f19;
  color: #f1f5f9;
}

/* Seamless Google Translate overrides */
.goog-te-banner-frame.skiptranslate,
.goog-te-banner-frame,
iframe.goog-te-banner-frame,
.goog-te-gadget-icon,
.goog-te-gadget-simple img,
.goog-tooltip,
#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

body {
  top: 0px !important;
  position: static !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
